@mixin size($width,$height){
  width:$width;
	height:$height;
}

@mixin position($positionProperty:static,$top:auto,$right:auto,$bottom:auto,$left:auto){
	position:$positionProperty;
	top:$top;
	left:$left;
	right:$right;
	bottom:$bottom;
}

@mixin fontCond($sansCondFontFamily){
	font-family:$sansCondFontFamily;
}
@mixin fontSans($sansFontFamily){
	font-family:$sansFontFamily;
}
@mixin fontSerif($serifFontFamily){
	font-family:$serifFontFamily;
}

@mixin imgReplace($imgSrc){
	display:inine-block;
	overflow:hidden;
	text-indent: -999em;
	*vertical-align: auto; // ie7 fix
  	zoom: 1; // ie7 fix
  	*display: inline // ie7 fix
  	*float:left; // ie7 fix
}
